<!-- Default home page -->
<link type="text/css" href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>
<script type="text/javascript">
  setTimeout(function sunrise() {
    document.getElementsByClassName('header')[0].style.backgroundColor = '#118798';
  }, 0);
</script>

<div class="default-page">
  <div class="header">
    <h1 id="main-title" class="container"><%= __('A brand new app.') %></h1>

    <h3 class="container">You're looking at: <code><%= view.pathFromApp + '.' + view.ext %></code></h3>
  </div>
  <div class="main container clearfix">

    <div class="content">
      <h1 id="main-title">Hi <%= user.name %>,</h1>

      <p>You've successfully logged in.</p>
      <a class="btn" href="/logout">Logout</a>

      <h2>User Model</h2>
      <table class="table">
        <% for(key in user.toJSON() ) { if (user.hasOwnProperty(key)) { %>
        <tr>
          <td><%= key %>:</td>
          <td class="boxy"><%= user[key] %></td>
        </tr>
        <% }} %>
      </table>

      <ul class="getting-started">
        <li class="clearfix">
          <div class="step">
            <div class="sprite one"></div>
            <h3>Generate a REST API.</h3>

            <p>
              Run <code>sails generate api user</code>. This will create two files: a <a
                  href="http://links.sailsjs.org/docs/models">model</a> <code class="pocket">api/models/User.js</code>
              and
              a <a href="http://links.sailsjs.org/docs/controllers">controller</a><code class="pocket">api/controllers/UserController.js</code>.
            </p>
          </div>
        </li>
        <li class="clearfix">
          <div class="step">
            <div class="sprite two"></div>
            <h3>
              Lift your app.
            </h3>

            <p>
              Run <code>sails lift</code> to start up your app server. If you visit <a target="_blank"
                                                                                       href="http://localhost:1337/user"><code>http://localhost:1337/user</code></a>
              in your browser, you'll see a <a href="http://links.sailsjs.org/docs/blueprints">WebSocket-compatible</a>
              user API.
            </p>
          </div>
        </li>
        <li class="clearfix">
          <div class="step">
            <div class="sprite three"></div>
            <h3>
              Dive in.
            </h3>

            <p>Blueprints are just the beginning. You'll probably also want to learn how to customize your app's <a
                  href="http://links.sailsjs.org/docs/routes">routes</a>, set up <a
                  href="http://links.sailsjs.org/docs/policies">security policies</a>, configure your <a
                  href="http://links.sailsjs.org/docs/config/connections">data sources</a>, and build custom <a
                  target="_blank" href="http://links.sailsjs.org/docs/controllers">controller actions</a>. For more help
              getting started, check out the links on this page.</p>

          </div>
        </li>
      </ul>
    </div>
    <div class="links">
      <!-- <h3>Links</h3> -->
      <ul class="link-list">

        <h4>Docs</h4>
        <a target="_blank" href="http://sailsjs.org/#/documentation/anatomy/myApp"><li>App Structure</li></a>
        <a target="_blank" href="http://sailsjs.org/#/documentation/reference"><li>Reference</li></a>
        <a target="_blank" href="http://sailsjs.org/#/documentation/concepts/extending-sails/Adapters/adapterList.html"><li>Supported Databases</li></a>

        <h4>Tutorials</h4>
        <a target="_blank" href="http://links.sailsjs.org/community/sails101"><li>Sails 101</li></a>

        <h4>Community</h4>
        <a target="_blank" href="http://stackoverflow.com/search?q=sails.js"><li>StackOverFlow</li></a>
        <a target="_blank" href="https://github.com/balderdashy/sails"><li>GitHub</li></a>
        <a target="_blank" href="https://groups.google.com/forum/#!forum/sailsjs"><li>Google Group</li></a>
        <a target="_blank" href="http://webchat.freenode.net/"><li>IRC (#sailsjs on freenode)</li></a>

      </ul>
    </div>
  </div>
</div>
